{% extends 'base.html' %}

{% block title %}
Add EventMember
{% endblock %}

{% block content %}
<!-- <div style="background: url(../static/css/cal2.jpg) no-repeat;width: 100%;
height: 100vh;
background-size: 100%;"> -->
<div class = "bg">
  <div style="margin-left: 10px;">
    <br>
      <a class="btn btn2" href="{% url 'calendarapp:calendar' %}"> << Back </a>
  </div>
  <div class="addmember ">
      <form method="post">
        {% csrf_token %}
        <div>{{ form }}</div>
        <br>
            <button type="submit" class="button_sub" id = "btnsub"> OK </button>
      </form>
  </div>
</div>


{% endblock %}