{% extends 'base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="bg">
  <br>
    <div style="margin-left: 10px;">
      <a class="btn btn2 left" href="{% url 'calendarapp:calendar' %}"> << Back </a>
    </div>

    <div style="background-color:rgba(255,255,255,0.5); margin-left: 100px;margin-right: 100px;  ">
    <form method="post">
      {% csrf_token %}
      <table class="form form-table">
        {{ form }}
        <br>
        <tr><td colspan="2"><br><button type="submit" class="btn btn2 right"> Add </button></td></tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}