{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
<!-- <div style="background: url(/static/css/cal2.jpg)no-repeat;width: 100%;
height: 100vh;
background-size: 100%;"> -->
<div class = "bg">
    <div class="container" >
        <div class="clearfix">
            <a class="btn btn2" href="{% url 'calendarapp:calendar' %}"> << Back</a>
            <a class="btn btn2" href="{% url 'calendarapp:event_edit' event.pk %}"> Edit </a>
            <a class="btn btn2" href="{% url 'calendarapp:event_delete' event.id%}"> Delete</a>
        </div>
        
        <div style="background-color:rgba(255,255,255,0.5);">
        <div class="clearfix">
            <h4>Name: {{ event.title }}</h3>
            <!-- {{ event.title }} -->
            <hr>
            <h4 class="left" > Time</h4>
            <br>
            <br>
            <p>From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
            <h4 class="left" >Description</h4>
            <br>
            <br>
            <p>{{ event.desc }}</p>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" >Add Members</h4>
            <a class="btn btn2 right" href="{% url 'calendarapp:add_eventmember' event.id %}"> Add Member </a>
        </div>
        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px"></th>
                  <th>User</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>
                        <a class="btn btn2" href="{% url 'calendarapp:remove_event' member.id %}">Remove</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}